@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Source Sans Pro", ui-sans-serif, system-ui, sans-serif;
  
  --color-marine: #002366;
  --color-marine-light: #003399;
  --color-marine-dark: #001a4d;
  
  --color-brand-yellow: #FFD700;
  --color-brand-yellow-light: #FFE44D;
  --color-brand-yellow-dark: #CCAC00;
}

@layer base {
  body {
    @apply bg-white text-zinc-900;
  }
}
